.s_btn[aria-selected="true"] {
    background-color:#d3d3d363;
    border-right:2px solid #103d15 ;
    border-bottom:1px solid transparent;
    color: #6b7280;
}
.s_btn:hover{
    border-bottom:1px solid transparent;
}