body {
  font-family: 'Montserrat', sans-serif!important;
  background-color: #d3d3d345;
}
.s_btn[aria-selected="true"] {
  background-color: #d3d3d363;
  border-right: 2px solid #103d15;
  border-bottom: 1px solid transparent;
  color: #6b7280;
}
/* .s_btn:hover {
  border-bottom: 1px solid transparent;
} */

.e_pages {
  margin-left: 276px;
  margin-right: 20px;
  margin-top: 101px;
  margin-bottom: 20px;
}
.goZmTm {
  padding-top: 16px !important;
  padding-left: 17px !important;
}

/* .active {
    background-color: #f3f4f6!important;
    border-right:2px solid #103d15!important;
  }
  .active p,i{
    color: #103d15!important;
  } */

.icon_ {
  color: #fff !important;
}
.sidebar ul li a.active {
  background-color: #f3f4f6 !important;
}
.sidebar ul li a.active p {
  color: #103d15 !important;
}
.sidebar ul li a.active i {
  color: #103d15 !important;
}
.sidebar_link:hover p{
  color: #103d15 !important;
}
.sidebar_link:hover i{
  color: #103d15 !important;
}
/*=======checkbox ==========*/
[type='checkbox']:checked{
  background-color: #103d15!important;
}
.searchWrapper{
  min-height: 15px!important;
}
/* .multiSelectContainer input{
  height: 28px!important;
  min-height: 40px!important;
} */
.multiSelectContainer input:focus{
  border: 1px solid #103d15!important;
  outline: none!important;
  outline-color: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.chip{
  background: #103d15!important;
}
.multiSelectContainer input::placeholder{
  font-size: 15px!important;
  padding-bottom: 9px!important;
}
.highlightOption{
  background: #103d15!important;
}
.multiSelectContainer li:hover{
  background: #103d15!important;
}

.rdrDefinedRangesWrapper{
  display: none!important;
}
.rdrDateDisplayWrapper{
  display: none!important;
}
.rdrEndEdge{
  color: #ff9c40!important;
}
.rdrDay{
  color: #ff9c40!important;
}
/*===========Queries ===========*/
@media only screen and (max-width: 766px) {
  .e_pages {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 101px;
  }
}
